PORT=9999
MODE=DEBUG

#ENABLE DISABLE
GORM_ZAP_LOGGER=DISABLE


# #Mysql
# DB_HOST=localhost               
# DB_DRIVER=mysql
# DB_USER=root
# DB_PASSWORD=""
# DB_NAME=dsrwerwerewr
# DB_PORT=3306


TEST_DB_HOST=localhost               
TEST_DB_DRIVER=mysql
TEST_DB_USER=root
TEST_DB_PASSWORD=""
TEST_DB_NAME=sdssdsdssdsdsd
TEST_DB_PORT=3306




DB_DRIVER=postgres
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=changeme
DB_NAME=sdssdsdsds
DB_PORT=5432


